@font-family-name: "phonetasticFont";
@font-family-name-title: "phonetasticFontTitle";
@font-family-name-icons: "phonetasticFontIcons";

@font: '../../fonts/phonetastic';

//Icons phonetastic
@icons-font: '@{font}/icons/phonetastic_ico_DSL_complete';

//Text Font
@sans-font: '@{font}/sans/phonetasticsans';

@sans-bla: '@{sans-font}-bla';
@sans-bol: '@{sans-font}-bol';
@sans-reg: '@{sans-font}-reg';
@sans-lig: '@{sans-font}-lig';

//Title Font
@title-font: '@{font}/text/phonetastictext';

@title-bol: '@{title-font}-bold';
@title-reg: '@{title-font}-regular';

//SANS

/* BEGIN Light */
@font-face {
  font-family: @font-family-name;
  src: url('@{sans-lig}.eot');
  src: url('@{sans-lig}.eot?#iefix') format('embedded-opentype'),
  url('@{sans-lig}.woff') format('woff'),
  url('@{sans-lig}.ttf') format('truetype'),
  url('@{sans-lig}.svg#@{font-family-name}') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */

/* BEGIN Regular */
@font-face {
  font-family: @font-family-name;
  src: url('@{sans-reg}.eot');
  src: url('@{sans-reg}.eot?#iefix') format('embedded-opentype'),
  url('@{sans-reg}.woff') format('woff'),
  url('@{sans-reg}.ttf') format('truetype'),
  url('@{sans-reg}.svg#@{font-family-name}') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Semibold */
@font-face {
  font-family: @font-family-name;
  src: url('@{sans-bol}.eot');
  src: url('@{sans-bol}.eot?#iefix') format('embedded-opentype'),
  url('@{sans-bol}.woff') format('woff'),
  url('@{sans-bol}.ttf') format('truetype'),
  url('@{sans-bol}.svg#@{font-family-name}') format('svg');
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */

/* BEGIN Bold */
@font-face {
  font-family: @font-family-name;
  src: url('@{sans-bol}.eot');
  src: url('@{sans-bol}.eot?#iefix') format('embedded-opentype'),
  url('@{sans-bol}.woff') format('woff'),
  url('@{sans-bol}.ttf') format('truetype'),
  url('@{sans-bol}.svg#@{font-family-name}') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

/* BEGIN Extrabold */
@font-face {
  font-family: @font-family-name;
  src: url('@{sans-bla}.eot');
  src: url('@{sans-bla}.eot?#iefix') format('embedded-opentype'),
  url('@{sans-bla}.woff') format('woff'),
  url('@{sans-bla}.ttf') format('truetype'),
  url('@{sans-bla}.svg#@{font-family-name}') format('svg');
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */


//TITLE

/* BEGIN Regular */
@font-face {
  font-family: @font-family-name-title;
  src: url('@{title-reg}.eot');
  src: url('@{title-reg}.eot?#iefix') format('embedded-opentype'),
  url('@{title-reg}.woff') format('woff'),
  url('@{title-reg}.ttf') format('truetype'),
  url('@{title-reg}.svg#@{font-family-name-title}') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */

/* BEGIN Bold */
@font-face {
  font-family: @font-family-name-title;
  src: url('@{title-bol}.eot');
  src: url('@{title-bol}.eot?#iefix') format('embedded-opentype'),
  url('@{title-bol}.woff') format('woff'),
  url('@{title-bol}.ttf') format('truetype'),
  url('@{title-bol}.svg#@{font-family-name-title}') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

//Icons

/* BEGIN Regular */
@font-face {
  font-family: @font-family-name-icons;
  src: url('@{icons-font}.eot');
  src: url('@{icons-font}.eot?#iefix') format('embedded-opentype'),
  url('@{icons-font}.woff') format('woff'),
  url('@{icons-font}.ttf') format('truetype'),
  url('@{icons-font}.svg#@{font-family-name-icons}') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */