.app-header {
  align-items: center;
  background: @color-white;
  display: flex;
  font-size: 16px;
  height: 50px;
  justify-content: space-between;
  left: 0;
  margin: auto;
  //max-width: 970px;;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: ~'calc(100% - 40px)';
  z-index: 21;
  &__element {
    align-items: center;
    display: inline-flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    position: relative;
    &__logo{
      flex: 0 1 160px;
      margin-left: 2px;
      padding-left: 0.625em;
      img {
        max-height: 35px;
        width: 100%;
      }
    }
    &__menu{
      flex: 0 1 160px;
      font-size: 10px;
      justify-content: flex-end;
      padding-right: 0.75em;
      &_option{
        cursor: pointer;
        margin-left: 30px;
        padding: 10px 0;
        position: relative;
        &:before{
          content: " ";
          position: absolute;
          left: 0;
          bottom: 5px;
          height: 1px;
          width: 0;
          background-color: @color-disabled;
          transition: width 0.5s ease-in-out;
        }
        &:after{
          content: " ";
          position: absolute;
          right: 0;
          bottom: 5px;
          height: 1px;
          width: 0;
          background-color: @color-disabled;
          transition: width 0.5s ease-in-out;
        }
        &:hover,&:focus{
          &:before{
            width:50%
          }
          &:after{
            width:50%
          }
        }
      }
    }
  }
}