body{
  -ms-scrollbar-shadow-color: @color-white;
  -ms-scrollbar-3dlight-color: @color-white;
  -ms-scrollbar-track-color: transparent;
  -ms-scrollbar-arrow-color: @color-grey;
  ::-webkit-scrollbar {width: 6px; height: 6px;}
  ::-webkit-scrollbar-button {  display: none }
  ::-webkit-scrollbar-track {  background-color: transparent;}
  ::-webkit-scrollbar-track-piece { background-color: @color-white;}
  ::-webkit-scrollbar-thumb { background-color: rgba(0, 0, 0, 0.2); border-radius: 3px;}
}

*:focus {
  outline: none;
}

*:not(input) {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -o-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#app {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
  .page-container {
    background-color: @color-white;
    display: flex;
    height: ~"calc(100% - 50px)";
    margin-top: 50px;
    width: 100%;
  }
}

.app {
  &-content{
    display: flex;
    flex-basis: 100%;
    width: 100%;
  }
}

.page__content {
  height: 100%;
}