body {
  background-color: #f0f0f0;
  direction: ltr;
  font-style: normal;
  font-weight: normal;
  height: 100%;
  margin: 0 !important;
  font-family: "phonetasticFont" !important;
  overflow: hidden;
  padding: 0 !important;
}