button {
  font-family: "phonetasticFont";
  border-radius: 0;
  background-color: @color-white;
  color: #333;
  min-height: 24px;
  line-height: 1.33334;
  cursor: pointer;
  font-weight: 100;
  font-size: 14px;
  padding: 3px 0;
  border: 1px solid #656565;
  &:disabled {
    color: @color-disabled !important;
    background-color: #f7f7f7 !important;
    border-color: @color-border-disabled !important;
    cursor: no-drop;
  }
  &:hover {
    //background-color: @color-blue;
    //border-color: @color-blue;
    color: @color-white;
  }
}
