input {
  font-family: "phonetasticFont";
  font-size: 12px;
  color: #333;
  border-radius: 0;
  border: none;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 4px 5px;
  width: 100%;
  height: 26px;
  outline: 0;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:disabled {
    background-color: #f7f7f7 !important;
    background: #f7f7f7 !important;
    border-color: @color-border-disabled !important;
    color: @color-disabled !important;
    cursor: not-allowed;
  }
  &:focus {
    //border: 1px solid @color-blue;
  }
}