select {
  font-family: "phonetasticFont";
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  border-radius: 0;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 4px 5px;
  color: #333;
  font-size: 12px;
  outline: 0;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  -webkit-appearance: menulist;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:disabled {
    cursor: default;
    color: #727272;
    background-color: #e4e4e4;
  }
  &:not([multiple]) {
    overflow: hidden;
    min-height: 26px;
    width: 100%;
    height: 100%;
  }
  &[multiple] {
  }
}