.phone-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  width: 100%;
  &__carousel{
    background-image:url('../../../images/mobile.svg');
    background-size: cover;
    display: flex;
    height: 35%;
    width: 100%;
  }
  &__info{
    background-color: @color-white;
    display: flex;
    height: 35%;
    position: absolute;
    width: 0;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    &_expand{
      width: 100%;
    }
    &__content{
      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05), 0 0 30px 0 rgba(0, 0, 0, 0.05), 0 1px 3px -2px rgba(0, 0, 0, 0.2);
      display: flex;
      margin: 0 30px;
      opacity: 0;
      padding: 15px;
      width: 100%;
      &__description{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__content{
          display: flex;
          flex-wrap: wrap;
          height: ~'calc(100% - 35px)';
          overflow: auto;
          padding-top: 15px;
          width: 100%;
          &__row{
            display: flex;
            width: 50%;
            &_field{
              font-size: 13px;
              font-weight: 600;
              margin-right: 5px;
            }
            &_value{
              font-size: 13px;
            }
          }
          @media (max-width: 960px) {
            &__row{
              width: 100%;
            }
          }
          @media (max-width: 600px) {
            &__row{
              flex-direction: column;
            }
          }
        }
        &__title{
          display: flex;
          height: 20px;
          justify-content: space-between;
          width: 100%;
          i{
            cursor: pointer;
          }
        }
      }
      &_display{
        opacity: 1;
        animation: fadein 1s;
        -moz-animation: fadein 1s; /* Firefox */
        -webkit-animation: fadein 1s; /* Safari and Chrome */
        -o-animation: fadein 1s; /* Opera */
      }
      &_hide{
        animation: fadeout 0.5s;
        -moz-animation: fadeout 0.5s; /* Firefox */
        -webkit-animation: fadeout 0.5s; /* Safari and Chrome */
        -o-animation: fadeout 0.5s; /* Opera */
      }
      &__mobile{
        display: inline-flex;
        width: auto;
        img{
          max-width: ~'calc(100% - 30px)';
        }
      }
    }
  }
  &__list{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 55%;
    justify-content: space-between;
    max-width: ~'calc(100% - 60px)';
    overflow: auto;
    padding: 0 30px;
    width: ~'calc(100% - 60px)';
    &__element{
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 85%;
      max-width: 160px;
      -webkit-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      min-height: 210px;
      width: 100%;
      &__mobile{
        display: flex;
        height: 100%;
      }
      &:hover{
        animation: shakeAnimation 0.82s;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

@keyframes fadein {0% {opacity:0;} 50% {opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fadein {0% {opacity:0;} 50% {opacity:0;} 100%{opacity:1;}}
@-webkit-keyframes fadein {0% {opacity:0;} 50% {opacity:0;} 100%{opacity:1;}}
@-o-keyframes fadein {0% {opacity:0;} 50% {opacity:0;} 100%{opacity:1;}}

@keyframes fadeout {0% {opacity:1;} 100%{opacity:0;}}
@-moz-keyframes fadeout {0% {opacity:1;} 100%{opacity:0;}}
@-webkit-keyframes fadeout {0% {opacity:1;} 100%{opacity:0;}}
@-o-keyframes fadeout {0% {opacity:1;} 100%{opacity:0;}}

// Animations
@keyframes shakeAnimation {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
}